body {
    font-family: 'Roboto', sans-serif;
    background-color: #1F2937;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: #ffffff;
}

.header {
    background-color: #1F2937;
    display: flex;
    color: #eeeeee;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.links {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: flex-end;
}

.links a {
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none; /* remove underlines */
}

li {
        list-style-type: none; /* Removes bullets from individual list items */
}

.hero {
    background-color: #1F2937;
    display: flex;
}